= simple_form_for [:item_category,@item] do |f|
  = f.input :item_category_id, :as => :hidden, :value => @item.item_category.id

  = f.simple_fields_for :item_attribute_values do |item_attribute_values_fields_f|
    = item_attribute_values_fields_f.input :item_category_attribute_id, :as => :hidden
    - label = item_attribute_values_fields_f.object.item_category_attribute.label
    - # todo make a setter for this if possible???
    - # or a shortcut that returns a symbol based on datatype or soemthing
    - if item_attribute_values_fields_f.object.item_category_attribute.item_category_attribute_data_type.rails_data_type == "boolean"
      = item_attribute_values_fields_f.input :ifv_boolean, :label => label
    - elsif item_attribute_values_fields_f.object.item_category_attribute.item_category_attribute_data_type.rails_data_type == "float"
      = item_attribute_values_fields_f.input :ifv_float, :label => label
    - elsif item_attribute_values_fields_f.object.item_category_attribute.item_category_attribute_data_type.rails_data_type == "integer"
      = item_attribute_values_fields_f.input :ifv_integer, :label => label
    - elsif item_attribute_values_fields_f.object.item_category_attribute.item_category_attribute_data_type.rails_data_type == "string"
      = item_attribute_values_fields_f.input :ifv_string, :label => label
    - elsif item_attribute_values_fields_f.object.item_category_attribute.item_category_attribute_data_type.rails_data_type == "text"
      = item_attribute_values_fields_f.input :ifv_text, :label => label
  %br

  = f.submit "Submit"



