= simple_form_for @item do |f|
  = f.simple_fields_for :item_category do |item_category_fields_f|
    %h2= item_category_fields_f.object.name

    = item_category_fields_f.simple_fields_for :item_fields do |item_field_fields_f|
      = item_field_fields_f.object.label

      = item_field_fields_f.simple_fields_for :item_field_values do |item_field_values_fields_f|
        = item_field_values_fields_f.input :item_id, :as => :hidden
        = item_field_values_fields_f.input :ifv_string
        = # "blah blah blah"
      %br

  = f.submit "Submit"