%h1 Item

%hr 
= @item.id
%br
= @item.item_category.name
%br

- # todo n+1 here...eager load this thing
- @item.item_category.item_category_attributes.each do |item_category_attribute|
  = item_category_attribute.label
  = "/"
  = item_category_attribute.item_attribute_values.find_by_item_id(@item.id).value
  %br
